/* Other than those cases where the specific must follow the general this file
   is ordered alphabetically.  Elements are first followed by Ids.  The
   properties are alphabetical too. */

* {
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    margin: 0px;
    outline: none !important;
    padding: 0px;
}

body {
    background-color: #808080;
    overflow: hidden;
}

button {
    background-color: lightgrey;
    border-radius: 6px;
    border: medium solid black;
    font-weight: bold;
    position: absolute;
    visibility: hidden;
}

p {
    margin-bottom: 1em;
    margin-top: 1em;
}

table, td, th {
    background-color: #FFFF80;
    border-collapse: collapse;
    border: 1px solid black;
    table-layout: fixed;
    text-align: left;
}

table {
    margin: 0px;
    margin: calc(5px);
    width: 100%;
    width: calc(100% - 10px);
}

textarea {
    width: 100%;
}

#help, #settings-text {
    -webkit-overflow-scrolling: touch;
    background-color: #C0FFC0;
    border-style: hidden;
    font-family: "courier new";
    font-size: 120%;
    height: 100%;
    left: 0px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    visibility: hidden;
    width: 100%;
}

#status, #timer, #tip {
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
}

#status {
    background-color: #FFFF80;
    font-family: "courier new";
    font-size: 180%;
    opacity: 0.0;
    padding: 2px;
}

#timer {
    font-family: "courier new";
    font-size: 200%;
    opacity: 0.0;
    padding: 2px;
}

#tip {
    background-color: black;
    border-style: hidden;
    color: white;
    font-family: sans-serif;
    font-size: 120%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 3px 8px;
    visibility: hidden;
    white-space: nowrap;
    z-index: 1;
}
